In [5]:
import pandas as pd
import numpy as np
import seaborn as sb

In [6]:
df = pd.read_csv('Supply and Chain problem.csv')

In [7]:
df.head()

,Unnamed: 0,Order ID,Order Date,Port of Origin,Transporter,Throughput time,Service Level,Day count for shipping ahead,Ship Late Day count,Consumer,Product ID,Plant Identification Code,Port of Destination,The number of units,Weight
0,0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30
1,1,1.447158e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94
2,2,1.447139e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20
3,3,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.16
4,4,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.34

In [8]:
df.tail()

,Unnamed: 0,Order ID,Order Date,Port of Origin,Transporter,Throughput time,Service Level,Day count for shipping ahead,Ship Late Day count,Consumer,Product ID,Plant Identification Code,Port of Destination,The number of units,Weight
9210,9210,1.447305e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9211,9211,1.447319e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9212,9212,1.447322e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,245,0.294265
9213,9213,1.447145e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683430,PLANT03,PORT09,278,2.480000
9214,9214,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,PLANT03,PORT09,317,1.960000

In [9]:
df.isnull().sum()

Unnamed: 0                      0
Order ID                        0
Order Date                      0
Port of Origin                  0
Transporter                     0
Throughput time                 0
Service Level                   0
Day count for shipping ahead    0
Ship Late Day count             0
Consumer                        0
Product ID                      0
Plant Identification Code       0
Port of Destination             0
The number of units             0
Weight                          0
dtype: int64

In [11]:
df.shape

(9215, 15)

In [12]:
df.describe()

,Unnamed: 0,Order ID,Throughput time,Day count for shipping ahead,Ship Late Day count,Product ID,The number of units,Weight
count,9215.000000,9.215000e+03,9215.000000,9215.000000,9215.000000,9.215000e+03,9215.000000,9215.000000
mean,4607.000000,1.447274e+09,1.717743,1.852306,0.039935,1.680536e+06,3202.747151,19.871688
std,2660.285699,8.381629e+04,0.630500,1.922302,0.319625,1.526593e+04,15965.622260,66.569064
min,0.000000,1.447126e+09,0.000000,0.000000,0.000000,1.613321e+06,235.000000,0.000000
25%,2303.500000,1.447197e+09,1.000000,0.000000,0.000000,1.669702e+06,330.000000,1.407430
50%,4607.000000,1.447276e+09,2.000000,3.000000,0.000000,1.683636e+06,477.000000,4.440000
75%,6910.500000,1.447346e+09,2.000000,3.000000,0.000000,1.689554e+06,1275.500000,13.325673
max,9214.000000,1.447425e+09,4.000000,6.000000,6.000000,1.702654e+06,561847.000000,2338.405126

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9215 entries, 0 to 9214
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    9215 non-null   int64
 1   Order ID                      9215 non-null   float64
 2   Order Date                    9215 non-null   object
 3   Port of Origin                9215 non-null   object
 4   Transporter                   9215 non-null   object
 5   Throughput time               9215 non-null   int64
 6   Service Level                 9215 non-null   object
 7   Day count for shipping ahead  9215 non-null   int64
 8   Ship Late Day count           9215 non-null   int64
 9   Consumer                      9215 non-null   object
 10  Product ID                    9215 non-null   int64
 11  Plant Identification Code     9215 non-null   object
 12  Port of Destination           9215 non-null   object
 13  The number of units           9215 non-null   int64
 14  Weight                        9215 non-null   float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.1+ MB

In [31]:
df.columns

Index(['Unnamed: 0', 'Order ID', 'Order Date', 'Port of Origin', 'Transporter',
       'Throughput time', 'Service Level', 'Day count for shipping ahead',
       'Ship Late Day count', 'Consumer', 'Product ID',
       'Plant Identification Code', 'Port of Destination',
       'The number of units', 'Weight'],
      dtype='object')

In [32]:
df.drop('Unnamed: 0', axis=1, inplace = True)

In [33]:
df

,Order ID,Order Date,Port of Origin,Transporter,Throughput time,Service Level,Day count for shipping ahead,Ship Late Day count,Consumer,Product ID,Plant Identification Code,Port of Destination,The number of units,Weight
0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.300000
1,1.447158e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.940000
2,1.447139e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.200000
3,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.160000
4,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9210,1.447305e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9211,1.447319e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9212,1.447322e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,245,0.294265
9213,1.447145e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683430,PLANT03,PORT09,278,2.480000
9214,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,PLANT03,PORT09,317,1.960000

In [36]:
df.describe()

,Order ID,Throughput time,Day count for shipping ahead,Ship Late Day count,Product ID,The number of units,Weight
count,9.215000e+03,9215.000000,9215.000000,9215.000000,9.215000e+03,9215.000000,9215.000000
mean,1.447274e+09,1.717743,1.852306,0.039935,1.680536e+06,3202.747151,19.871688
std,8.381629e+04,0.630500,1.922302,0.319625,1.526593e+04,15965.622260,66.569064
min,1.447126e+09,0.000000,0.000000,0.000000,1.613321e+06,235.000000,0.000000
25%,1.447197e+09,1.000000,0.000000,0.000000,1.669702e+06,330.000000,1.407430
50%,1.447276e+09,2.000000,3.000000,0.000000,1.683636e+06,477.000000,4.440000
75%,1.447346e+09,2.000000,3.000000,0.000000,1.689554e+06,1275.500000,13.325673
max,1.447425e+09,4.000000,6.000000,6.000000,1.702654e+06,561847.000000,2338.405126

## list down all product ID with weight of 14.300000

In [37]:
# now in order to sort out regarding to product ID, we should merge the conditions, another condition is df['Product ID']== 1700106

,Order ID,Order Date,Port of Origin,Transporter,Throughput time,Service Level,Day count for shipping ahead,Ship Late Day count,Consumer,Product ID,Plant Identification Code,Port of Destination,The number of units,Weight
0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.3
11,1.447171e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,798,14.3
1407,1.447186e+09,2013-05-26,PORT04,V444_0,2,DTP,0,0,V5555555_30,1668346,PLANT03,PORT09,443,14.3

In [41]:
df[(df['Weight'] == 14.300000)  & (df['Product ID']==1700106)]

,Order ID,Order Date,Port of Origin,Transporter,Throughput time,Service Level,Day count for shipping ahead,Ship Late Day count,Consumer,Product ID,Plant Identification Code,Port of Destination,The number of units,Weight
0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.3
11,1.447171e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,798,14.3

In [42]:
df

,Order ID,Order Date,Port of Origin,Transporter,Throughput time,Service Level,Day count for shipping ahead,Ship Late Day count,Consumer,Product ID,Plant Identification Code,Port of Destination,The number of units,Weight
0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.300000
1,1.447158e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.940000
2,1.447139e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.200000
3,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.160000
4,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9210,1.447305e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9211,1.447319e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9212,1.447322e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,245,0.294265
9213,1.447145e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683430,PLANT03,PORT09,278,2.480000
9214,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,PLANT03,PORT09,317,1.960000

In [43]:
df['Port of Origin'].value_counts()

PORT04    9041
PORT09     173
PORT05       1
Name: Port of Origin, dtype: int64

In [16]:
df[df['Plant Identification Code']== 'PLANT03']['The number of units'].value_counts()

334     45
336     40
335     38
339     38
338     37
        ..
7332     1
2242     1
1745     1
900      1
2224     1
Name: The number of units, Length: 2494, dtype: int64

# Which port of destination has more number of units

In [21]:
df[['Port of Destination', 'The number of units']].value_counts()

Port of Destination  The number of units
PORT09               334                    51
                     319                    44
                     339                    42
                     336                    42
                     335                    41
                                            ..
                     2970                    1
                     2952                    1
                     2943                    1
                     2938                    1
                     561847                  1
Length: 2624, dtype: int64